.container {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50%;

  .alert {
    opacity: 0;
    transform: translate(0, -100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .active {
    opacity: 1;
    transform: translate(0, 0);
  }

  .hide {
    opacity: 0;
    transform: translate(0, -100%);
  }
}